* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.loader {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transform: rotate(175deg);
}

.loader span {
  position: absolute;
  top: calc(12px * var(--i));
  left: calc(12px * var(--i));
  right: calc(12px * var(--i));
  bottom: calc(12px * var(--i));
  border: 10px solid #0b0b0b;
  border-top: 10px solid #0f0;
  border-left: 10px solid #0f0;
  border-radius: 50%;
  animation: wave 1s alternate ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
